.policy-area-02 {
  .conatiner {
    .card {
      .card-image {
        h3 {
          font-weight: 600;
          font-size: 1.85rem;
        }
      }
    }
  }
}

.slick-track::before {
  content: "";
  display: none;
}

.slick-slider::before {
  content: "";
  display: none;
}
.slick-track::after {
  content: "";
  display: none;
}

.slick-slider::after {
  content: "";
  display: none;
}
.home-services-card {
  text-align: center;
  -webkit-box-shadow: 0px 0px 14px rgba(136, 159, 229, 0.2);
  box-shadow: 0px 0px 14px rgba(136, 159, 229, 0.2);
  padding: 20px 28px 30px 28px;
  background: #fff;
  /* margin-bottom: 15px; */
  min-height: 350px;
  display: flex;
  align-items: end;
  transition: all ease-in-out 0.8s;
  .social-link {
    height: 47px;
    fill: #cddeff;
    display: none;
    text-align: start;
    width: min-content;
  }
  p {
    display: none;
  }
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding: 15px 0px 22px 0px;
    text-align: start;
    padding-bottom: 0;
  }
  .know-more {
    display: none;
  }
}
.home-services-card:hover {
  transform: translateY(-5px);
  flex-direction: column;
  align-items: start;
  justify-content: end;
  .social-link {
    display: block;
  }
  h4 {
    /* color: #bf202f; */
  }
  p {
    display: block;
    text-align: start;
    text-justify: distribute;
    color: white;
  }
  .know-more {
    display: block;
    font-weight: 600;
    color: white;
  }
}

.home-services-card:hover::after {
  height: 100%;
  top: 0;
  bottom: auto;
}
.home-services-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom right, #bf3b3b, #ff6060);
  opacity: 0.8;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
