/* .moto-banner {
  .image-right {
    display: none;
  }
  .image-left {
    display: none;
  }
} */

.moto-banner {
  position: relative;
  padding: 120px 0;
  .container {
    .motobanner-title {
      font-size: 48px;
      line-height: 1;
    }
  }
}
@media only screen and (max-width: 1550px) {
  .moto-banner {
    .image-left {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .moto-banner {
    padding: 40px 0;
    .image-right {
      display: none;
    }
    .image-left {
      display: none;
    }
  }
}

@media only screen and (min-width: 1001) and (max-width: 1600px) {
  .moto-banner {
    .image-left {
      display: none;
    }
    .image-right {
      height: 250px;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .moto-banner {
    .motobanner-title {
      font-size: 30px !important;
      line-height: 1;
    }
  }
}
